* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .home,
  .services,
  .reports,
  .contact,
  .events,
  .support {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
  }
body {
  background-image: url("./img/dog.jpg");
  background-repeat: no-repeat;
  background-position: top, 50px;
  background-size: 230%;
}
h1 {
  text-align: center;
  margin-left: 200px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
  background-color: #FAF3DD;
  opacity: 0.5;
  font-size: medium;
}
  